*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

/*---- DROPDOWN RESPONSIVE ----*/

.dropdown-responsive button{
    cursor: pointer;
    border: none;
    font-size: 25px;
    padding: 10px;
    background-color: transparent;
    color: black;
}

.dropdown-responsive{
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dropdown-responsive .dropdown-responsive-content{
    position: absolute;
    top: -30px;
    right: -85px;
    width: 55vh;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.dropdown-responsive .dropdown-responsive-content .btn-dropdown-responsive{
    color: white;
    font-size: 20px;
    padding: 10px;
}

.dropdown-responsive:hover .dropdown-responsive-content{
    display: flex;
}

/*---- DROPDOWN RESPONSIVE PLUS ----*/

.dropdown-responsive-plus{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.dropdown-responsive-plus .dropdown-responsive-content-plus{
    position: absolute;
    right: -235px;
    top: 0px;
    display: none;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    background-color: transparent;
    border-left: 2px solid white;
}

.dropdown-responsive-plus .dropdown-responsive-content-plus .btn-dropdown-responsive-plus{
    padding: 10px 20px;
}

.dropdown-responsive-plus:hover .dropdown-responsive-content-plus{
    display: flex;
}

/*---- DROPDOWN RESPONSIVE LOGIN ----*/

.dropdown-login-responsive{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.dropdown-login-responsive .dropdown-login-content-responsive{
    position: absolute;
    right: -233px;
    top: 0px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    background-color: transparent;
    border-left: 2px solid white;
}

.dropdown-login-responsive .dropdown-login-content-responsive .btn-dropdown-responsive-login{
    padding: 10px 20px;
}

.dropdown-login-responsive:hover .dropdown-login-content-responsive{
    display: flex;
}

/*---- COMPTE ----*/ 

.compte{
    margin-top: 100px;
    min-height: 82vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
}

.compte .connexion{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.compte .connexion h1{
    color: #233f6e;
    font-size: 3em;
    text-align: center;
    font-weight: bolder;
    margin: 0px 0px 20px 0px;
}

.compte .connexion form{
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.compte .connexion form .label{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.compte .connexion form .label .name-label{
    color: rgb(39, 39, 39);
    font-size: 17px;
    margin: 10px 0px 3px 0px;
}

.compte .connexion form .label input,
.compte .connexion form .label select{
    width: 100%;
    height: 35px;
    font-size: 15px;
    color: gray;
}

.compte .connexion form .label input:hover,
.compte .connexion form .label select:hover{
    border: 2px solid black;
}

.compte .connexion form input[type="submit"]{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 35px;
}






/*---- PAYEMENT ----*/

.payement{
    width: 50%;
    min-height: 82vh;
    background-color: rgb(0, 0, 0);
}

/*---- FOOTER ----*/ 

footer{
    border-top: 1px rgb(63, 63, 63) solid;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
    z-index: 1;
}

footer p{
    color: gray;
    font-size: 17px;
}




/*------ DÉBUT RESPONSIVE ------*/

@media screen and (max-width: 1000px){

    .top .menu{
        display: none;
    }

    .top .dropdown-responsive{
        display: flex;
    }
}

/*------ FIN RESPONSIVE ------*/ 