@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}

/*---- LOADER ----*/

.loader{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 400;
  font-size: 2em;
  color: #00566b;
}

.loader h1 span {
  position: relative;
  top: 0.63em;  
  display: inline-block;
  text-transform: uppercase;  
  opacity: 0;
  transform: rotateX(-90deg);
}

.let1 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: .2s;
}

.let2 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: .3s;
}

.let3 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: .4s;
}

.let4 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: .5s;

}

.let5 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: .6s;
}

.let6 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: .7s;
}

.let7 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: .8s;
}

@keyframes drop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        top: 6.94em
    }
}

.fondu-out {
  opacity: 0;
  transition: opacity 0.4s ease-out;
  z-index: -10;
}

.dispawn{
  display: none;
}