@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

/*---- CONTENT ----*/

.content{
    width: 100%;
    margin-top: 104px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content .pannier{
    min-height: 80vh;
    width: 65%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.pannier .article{
    min-height: 65vh;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.pannier .article .abonnement{
    width: 90%;
    display: flex;
    padding: 20px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border: 0.5px solid rgba(128, 128, 128, 0.445);
}

.pannier .article .abonnement h3{
    color: orangered;
    font-size: 1.4em;
    font-weight: 400;
}

.pannier .article .abonnement p{
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.pannier .article .abonnement p a{
    font-weight: 600;
    color: rgb(80, 80, 80);
}

.pannier .article .abonnement p a:hover{
    color: black;
    text-decoration: underline;
}

.pannier .article .pannier-vide{
    width: 90%;
    display: flex;
    padding: 20px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.pannier .article .pannier-vide span{
    color: black;
    font-size: 1.6em;
}

.pannier .payement{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.pannier .payement h2{
    color: black;
    font-size: 2em;
    text-align: center;
    margin-bottom: 35px;
}

.pannier .payement .sous-total,
.pannier .payement .frais-estimer{
    padding: 15px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.pannier .payement .sous-total p,
.pannier .payement .frais-estimer p{
    font-size: 17px;
    font-weight: 500;
}

.pannier .payement .total{
    padding: 15px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.pannier .payement .total p{
    font-weight: bolder;
    font-size: 20px;
}

.pannier .payement .payer{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pannier .payement button{
    width: 100%;
    border: none;
    padding: 20px;
    border-radius: 50px;
    background-color: #e7e7e7;
    margin: 10px;
    font-size: 17px;
    cursor: pointer;
} 

.pannier .payement button{
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
} 

.pannier .payement button:nth-child(1){
    margin-top: 20px;
    background-image: url(images/logo/apple-pay.png);
    background-size: 27%;
}

.pannier .payement button:nth-child(2){
    background-image: url(images/logo/paypal.png);
    background-size: 35%;
}
.pannier .payement button:nth-child(3){
    background-image: url(images/logo/visa.png);
    background-size: 27%;
}

